/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 60px;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row {
    padding-left: 20px;
    display: flex;
  }